<!DOCTYPE html>
<html lang="pl">

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<body class="bg-gray-100 text-gray-900">

    <header class="relative bg-gray-800 text-white text-center py-32">
        <div class="absolute inset-0 bg-cover bg-center opacity-50"></div>
        <div class="relative z-10">
            <h1 class="text-4xl font-bold">Chess Openings</h1>
            <p class="text-lg mt-4">Discover and learn the most popular chess openings5!</p>
        </div>
    </header>

    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
    </head>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {% for opening in site.posts %}
        <div class="bg-white shadow-lg rounded-lg p-6 hover:bg-gray-100">
            <h3 class="text-xl font-semibold">{{ opening.title }}</h3>
            <p class="mt-2">{{ opening.excerpt }}</p>
            <a href="{{ opening.url }}" class="text-blue-500 mt-4 inline-block">Read More</a>
        </div>
        {% endfor %}
    </div>

    <main class="container mx-auto px-6 py-12">
        <article class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold">Introduction to Chess Openings</h2>
            <p class="mt-4">Learning chess openings is essential for every player. The right opening strategy can give
                you
                an advantage from the start...</p>
        </article>
    </main>

    <footer class="bg-gray-800 text-white text-center py-6">
        <p>© 2025 Chess Openings. All rights reserved.</p>
    </footer>

</body>

</html>